<h1>Listing data_sets</h1>

<table>
  <tr>
    <th>Meta data</th>
    <th>Trained function</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_sets.each do |data_set| %>
  <tr>
    <td><%= data_set.meta_data %></td>
    <td><%= data_set.trained_function %></td>
    <td><%= link_to 'Show', data_set %></td>
    <td><%= link_to 'Edit', edit_data_set_path(data_set) %></td>
    <td><%= link_to 'Destroy', data_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data set', new_data_set_path %>
